.status-card {
  border-left: 5px solid #ccc;
  &.incoming { border-left-color: #007bff; }
  &.outgoing { border-left-color: #28a745; }
  &.alerts { border-left-color: #dc3545; }
  &.history { border-left-color: #6c757d; }
}

table {
  margin-top: 1rem;
}

.mat-card {
  margin-bottom: 20px;
}
.live-icon {
    background: #20b972;
}