<div class="container-fluid py-4">
    <h4>Overview</h4>
    <div class="row mb-4 g-3">
        <div class="col-md-3">
            <mat-card class="status-card shadow-sm bg-white incoming p-3">
                <mat-card-subtitle>Broadcasted</mat-card-subtitle>
                <mat-card-title>24</mat-card-title>
            </mat-card>
        </div>
        <div class="col-md-2">
            <mat-card class="status-card shadow-sm bg-white outgoing p-3">
                <mat-card-subtitle>Accepted</mat-card-subtitle>
                <mat-card-title>12</mat-card-title>
            </mat-card>
        </div>
        <div class="col-md-2">
            <mat-card class="status-card shadow-sm bg-white alerts p-3">
                <mat-card-subtitle>Missed</mat-card-subtitle>
                <mat-card-title>5</mat-card-title>
            </mat-card>
        </div>
        <div class="col-md-2">
            <mat-card class="status-card shadow-sm bg-white history p-3">
                <mat-card-subtitle>Delivered</mat-card-subtitle>
                <mat-card-title>142</mat-card-title>
            </mat-card>
        </div>

        <div class="col-md-3">
            <mat-card class="status-card shadow-sm bg-white history p-3">
                <mat-card-subtitle>Returned</mat-card-subtitle>
                <mat-card-title>142</mat-card-title>
            </mat-card>
        </div>
    </div>

    <h4>Order Values</h4>

    <div class="row g-3 mb-4">
        <div class="col-md-3">
            <mat-card class="status-card shadow-sm bg-white incoming p-3">
                <mat-card-subtitle>Accepted</mat-card-subtitle>
                <mat-card-title>24</mat-card-title>
            </mat-card>
        </div>
        <div class="col-md-2">
            <mat-card class="status-card shadow-sm bg-white outgoing p-3">
                <mat-card-subtitle>Delivered</mat-card-subtitle>
                <mat-card-title>12</mat-card-title>
            </mat-card>
        </div>
        <div class="col-md-2">
            <mat-card class="status-card shadow-sm bg-white alerts p-3">
                <mat-card-subtitle>Returned</mat-card-subtitle>
                <mat-card-title>5</mat-card-title>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="status-card shadow-sm bg-white history p-3">
                <mat-card-subtitle>Net Value</mat-card-subtitle>
                <mat-card-title>142</mat-card-title>
            </mat-card>
        </div>

        <div class="col-md-2">
            <button matButton="outlined" [routerLink]="['/app/order-ledgers']">View Ledgers</button>
        </div>
    </div>



    <div class="container-fluid py-4">
        <div class="row g-3">
            <div class="col-lg-6">
                <mat-card class="order-list-card">
                    <mat-card-header class="pb-2 border-bottom">
                        <mat-card-title class="d-flex align-items-center mb-0">
                            <div class="live-pulse me-2"></div>
                            <span class="h6 mb-0">Running Orders</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="p-0">
                        <table mat-table [dataSource]="ordersSignal()" class="w-100 plain-table">
                            <ng-container matColumnDef="orderId">
                                <td mat-cell *matCellDef="let element" class="py-2">
                                    <ng-container *ngIf="element.status === 'Accepted'">
                                        <div class="fw-bold text-dark">#{{element.orderId}}</div>
                                        <small [class.text-danger]="element.timerId < 30"
                                            class="text-muted d-flex align-items-center">
                                            <mat-icon style="font-size: 14px; height: 14px; width: 14px;"
                                                class="me-1">history</mat-icon>
                                            {{element.timer}}
                                        </small>
                                    </ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <td mat-cell *matCellDef="let element" class="text-end py-2 pe-3">
                                    <div class="d-flex justify-content-end gap-1" *ngIf="element.status === 'Accepted'">
                                        <!-- <button class="btn btn-sm btn-success rounded-pill" color="accent"
                                            [disabled]="element.isExtended" (click)="onExtend(element)">
                                            Extend Time
                                        </button> -->
                                        <span class="extension-label me-1" *ngIf="element.extensionCount > 0">
                                            Ext: {{element.extensionCount}}/3
                                        </span>

                                        <button mat-icon-button [color]="element.extensionCount >= 3 ? '' : 'accent'"
                                            [disabled]="element.extensionCount >= 3" (click)="onExtend(element)"
                                            [matTooltip]="element.extensionCount >= 3 ? 'Max extensions reached' : 'Extend 1 Min'">
                                            <mat-icon>more_time</mat-icon>
                                        </button>
                                        <button mat-icon-button color="primary" matTooltip="View"
                                            (click)="onView(element)">
                                            <mat-icon matTooltip="View" matTooltipPosition="below">visibility</mat-icon>
                                        </button>
                                        <button mat-icon-button matTooltip="View" (click)="onEdit(element)">
                                            <mat-icon matTooltip="View" class="text-warning"
                                                matTooltipPosition="below">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button class="text-success"
                                            (click)="onDelivered(element)"><mat-icon matTooltip="Delivered" matTooltipPosition="below">task_alt</mat-icon></button>
                                        <button mat-icon-button matTooltip="Return" (click)="onHandover(element)">
                                            <mat-icon class="text-success" matTooltip="Handover"
                                                matTooltipPosition="below">assignment_turned_in</mat-icon>
                                        </button>
                                        <button mat-icon-button class="text-danger"
                                            (click)="onReturned(element)" ><mat-icon matTooltip="Returned" matTooltipPosition="below">replay</mat-icon></button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                [hidden]="row.status !== 'Accepted'"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-lg-6">
                <mat-card class="order-list-card">
                    <mat-card-header class="pb-2 border-bottom">
                        <mat-card-title class="d-flex align-items-center mb-0">
                            <div class="bg-warning rounded-circle me-2 new-pulse" style="height:10px; width: 10px">
                            </div>
                            <span class="h6 mb-0">New Orders (1m Limit)</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="p-0">
                        <table mat-table [dataSource]="ordersSignal()" class="w-100 plain-table">
                            <ng-container matColumnDef="orderId">
                                <td mat-cell *matCellDef="let element" class="py-2">
                                    <ng-container *ngIf="element.status === 'Pending'">
                                        <span class="fw-bold">#{{element.orderId}}</span>
                                        <div class="small text-danger fw-bold">{{element.timer}}</div>
                                    </ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <td mat-cell *matCellDef="let element" class="text-end py-2 pe-3">
                                    <button matButton="tonal" class="w-100" color="primary" matTooltip="View"
                                        (click)="onView(element)">
                                        View Order
                                    </button>
                                    <div *ngIf="element.status === 'Pending'" class="d-flex w-100">

                                        <button mat-flat-button color="success" class="me-2 mt-2 w-50 btn-sm-custom"
                                            (click)="onAccept(element)">Accept</button>
                                        <button mat-stroked-button color="warn" class="mt-2 w-50 btn-sm-custom"
                                            (click)="onReject(element)">Reject</button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                [hidden]="row.status !== 'Pending'"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>