<mat-toolbar color="primary" class="shadow-sm">
    <a href="#">
        <img src="/assets/images/logo-light.png" alt="Logo" style="height:40px">
    </a>

    <button mat-icon-button (click)="toggleMenu()" class="menu-toggler d-none">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="flex-row">
        <button mat-button (click)="authUI = 'login'" [ngClass]="{'active-auth-btn': authUI === 'login'}"
            class="rounded-pill btn btn-sm px-3">
            Login
        </button>

        <button mat-button (click)="authUI = 'signup'" [ngClass]="{'active-auth-btn': authUI === 'signup'}"
            class="px-3 ms-2 btn-sm btn rounded-pill">
            Sign Up
        </button>
    </div>
</mat-toolbar>
<div class="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 d-flex justify-content-center">
                <div class="">
                    <h1 class="banner-heading">Your <span class="highlight">Trusted App</span> for Health, Care &
                        Protection</h1>
                    <h5 class="highlight">Life gets busy — but care shouldn't wait</h5>
                    <p class="banner-p">With Vitoxyz you can easily book reliable nurses, hire professional guards,
                        consult expert
                        dietitians, and order medicines — all in just a few taps.</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                @if(authUI === 'login'){
                <app-login (changeAuthUI)="setAuthUI($event)"></app-login>}
                @if(authUI === 'signup'){
                <app-signup></app-signup>
                }
                @if(authUI === 'reset-password'){
                <app-reset-password (changeAuthUI)="setAuthUI($event)"></app-reset-password>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 col-12">
            <div>
                <img src="../../../assets/images/about.png" alt="" class="w-100">
            </div>
        </div>

        <div class="col-md-6 col-12 d-flex justify-content-center">
            <div class="mt-3">
                <h6 class="mb-3"> <span class="text-warning p-2 rounded">Why Vitoxyz Connect?</span></h6>
                <h1>One platform. Two solutions. One healthier world.</h1>
                <div class="d-flex align-items-center my-4">
                    <div class="about-list me-3">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="about-list-height">
                        <h4 class="highlight mb-0">Verified Professionals </h4>
                        <small>Background-checked and experienced staff</small>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="about-list me-3">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="about-list-height">
                        <h4 class="highlight mb-0">Quick Booking </h4>
                        <small>Easy scheduling with instant confirmation</small>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="about-list me-3">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="about-list-height">
                        <h4 class="highlight mb-0">Healthcare Focused </h4>
                        <small>Specialized staff for hospitals, clinics & home care</small>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="about-list me-3">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="about-list-height">
                        <h4 class="highlight mb-0">Home Support Services </h4>
                        <small>Babysitters, guards, and home nurses available anytime</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">

        <div class="col-md-6 col-12 d-flex justify-content-center">
            <div class="mt-3">
                <h6 class="mb-3"> <span class="text-warning p-2 rounded">For Individuals & Patients</span></h6>
                <h1>Services We Offer</h1>
                <div class="d-flex align-items-center my-4">
                    <div class="about-list me-3">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="about-list-height">
                        <h4 class="highlight mb-0">Nurses on Call </h4>
                        <small>For post-surgery, elder care, or chronic conditions</small>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="about-list me-3">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="about-list-height">
                        <h4 class="highlight mb-0">Babysitters </h4>
                        <small>Trusted care for your children while you're away</small>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="about-list me-3">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="about-list-height">
                        <h4 class="highlight mb-0">Guards & Security </h4>
                        <small>Keep your home or facility safe</small>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="about-list me-3">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="about-list-height">
                        <h4 class="highlight mb-0">Physiotherapists</h4>
                        <small>At-home recovery and wellness support</small>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="about-list me-3">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="about-list-height">
                        <h4 class="highlight mb-0">Diet & Wellness Plans </h4>
                        <small>Personalized guidance from certified experts</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="mt-3">
                <img src="../../../assets/images/service.png" alt="" class="w-100">
            </div>
        </div>
    </div>
</div>