<div>
  <mat-form-field appearance="outline" class="min-w-[220px]">
    <mat-label>Status</mat-label>
    <mat-select [value]="selectedStatus" (selectionChange)="filterData($event.value)">
      <mat-option [value]="null">All</mat-option>
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-common-table [columns]="commonColumns" [data]="dataSource.data" [pageSizeOptions]="[10,25,100]"
  [showCreate]="false" [showActions]="false" (view)="onRowView($event)" (save)="onRowSave($event)"
  (delete)="onRowDelete($event)">
</app-common-table>

<ng-template #bookingDetailsDialog>
  <h2 mat-dialog-title>Booking Details</h2>
  <mat-dialog-content>
    <div class="table-responsive">
      <div *ngFor="let booking of selectedBookingDetails; let idx = index" class="mb-4 border rounded p-3">
        <h4 class="mb-2">Booking {{ idx + 1 }}</h4>
        <table class="w-100 p-2  table table-striped table-hover">
          <tbody>
            <tr *ngFor="let col of bookingDetailsColumns">
              <th class="text-left pe-4 align-top pb-2">{{ col.header }}</th>
              <td>{{ booking[col.key] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>