<app-common-table [columns]="commonColumns"
  [data]="dataSource.data"
  [pageSizeOptions]="[5,10,25,100]"
  [showCreate]="false"
  [showActions]="false"
  (view)="onRowView($event)"
  (save)="onRowSave($event)"
  (delete)="onRowDelete($event)">
</app-common-table>

<ng-template #bookingDetailsDialog>
  <h2 mat-dialog-title>Booking Details</h2>
  <mat-dialog-content>
    <div *ngIf="selectedBookingDetails.length; else noBookings">
      <div class="table-responsive">
        <div *ngFor="let booking of selectedBookingDetails; let idx = index" class="mb-4 border rounded p-3">
          <h4 class="mb-2">Booking {{ idx + 1 }}</h4>
          <table class="w-100 p-2">
            <tbody>
              <tr *ngFor="let col of bookingDetailsColumns">
                <th class="text-left pe-4 align-top pb-2">{{ col.header }}</th>
                <td>{{ booking[col.key] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ng-template #noBookings>
      <p>No booking details available.</p>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>