<div class="container-fluid d-flex justify-content-center mt-5">

    <mat-card class="example-card w-50" appearance="outlined">

        <mat-card-content>
            <div class="d-flex justify-content-center align-items-center py-5 my-4">
            <mat-icon>
                history_toggle_off
            </mat-icon>
            <h1 class="ps-3">
                KYC Process Under Review!
            </h1>
            </div>
        </mat-card-content>
        <mat-card-actions class="justify-content-center">
            <button matButton="tonal" (click)="logout()">Login</button>
        </mat-card-actions>
    </mat-card>

</div>