.chat-toggle mat-icon {
    font-size: 32px;
    width: 100%;
    height: 100%;
}

.chat-toggle{
    background: #14bbc1;
    padding: 10px 13px;
    color: #fff;
    border-radius: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
}

.chat-toggle:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 400px; 
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
  opacity: 1;
}

// Basic styling for content
.chat-content {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
}

.chat-input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  resize: none;
}

.chat-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  border-top: 1px solid #eee;
}