<div class="common-table">
  <div class="mt-2 row">
    <mat-form-field appearance="outline" class="search-field col-md-3">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" [value]="filterValue">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="ct-actions col-md-1">
      <button *ngIf="showCreate" mat-flat-button color="primary" (click)="onCreate()">{{createLabel}}</button>
    </div>

    <mat-paginator class="responsive-paginator col-md-8" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>
  </div>

  <div class="scrollableTable overflow-x-auto">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">

      <!-- serial number column -->
      <ng-container matColumnDef="serial" sticky>
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ (paginator.pageIndex * paginator.pageSize + i) + 1 }}
        </td>
      </ng-container>

      <!-- dynamic columns -->
      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">

        <th mat-header-cell *matHeaderCellDef mat-sort-header [innerHTML]="col.header">
          {{col.header}}
        </th>

        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="col.type || 'text'">
            <button *ngSwitchCase="'action'" matButton color="primary"
              (click)="onView(element, col)"><mat-icon>visibility</mat-icon>View</button>
            <button *ngSwitchCase="'actionReAssign'" matButton color="primary"
              (click)="onView(element, col)">ReAssign&nbsp;Staff</button>

            <div *ngSwitchCase="'actionApproveReject'">
              <button matButton color="primary" (click)="onView(element, col)">Create</button>
            </div>
            <button *ngSwitchCase="'actionUser'" matButton color="primary" matTooltip="View"
              (click)="onView(element, col)"><mat-icon>visibility</mat-icon>View</button>

            <button *ngSwitchCase="'actionStaff'" matButton color="primary" matTooltip="View"
              (click)="onView(element, col)"><mat-icon>visibility</mat-icon>View</button>

            <span *ngSwitchCase="'date'">{{element[col.key] | date: 'mediumDate'}}</span>
            <span *ngSwitchCase="'time'">{{element[col.key] | date: 'shortTime'}}</span>
            <span *ngSwitchCase="'boolean'">{{element[col.key] ? 'Yes' : 'No'}}</span>
            <span *ngSwitchCase="'number'">{{element[col.key] | number: '1.2-2'}}</span>
            <span *ngSwitchDefault>{{element[col.key]}}</span>
          </ng-container>
        </td>

      </ng-container>

      <!-- actions column -->
      <ng-container *ngIf="showActions" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="actionMenu" (click)="setActiveRow(element)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-100"></tr>
    </table>
  </div>

  <!-- action menu (single menu, row passed by click handlers) -->
  <mat-menu #actionMenu="matMenu" (closed)="clearActiveRow()">
    <button mat-menu-item (click)="handleView()">
      <mat-icon>visibility</mat-icon>
      <span>Show</span>
    </button>
    <button mat-menu-item (click)="handleEdit()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="handleDelete()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>

  <!-- edit/create dialog template -->
  <ng-template #editDialog let-data>
    <h2 mat-dialog-title>{{data?.isNew ? 'Create' : 'Edit'}} Record</h2>
    <mat-dialog-content>
      <form #editForm="ngForm">
        <div class="grid my-2">
          <div *ngFor="let col of (formFields && formFields.length ? formFields : columns)" class="field">
            <ng-container [ngSwitch]="col.type || 'text'">

              <mat-form-field *ngSwitchCase="'text'" appearance="outline" class="w-100">
                <mat-label>{{ col.header }}</mat-label>
                <input matInput [(ngModel)]="data.row[col.key]" name="{{col.key}}" [placeholder]="col.header" />
              </mat-form-field>

              <mat-form-field *ngSwitchCase="'number'" appearance="outline" class="w-100">
                <mat-label>{{ col.header }}</mat-label>
                <input matInput type="number" [(ngModel)]="data.row[col.key]" name="{{col.key}}" />
              </mat-form-field>

              <mat-form-field *ngSwitchCase="'date'" appearance="outline" class="w-100">
                <mat-label>{{ col.header }}</mat-label>
                <input matInput type="date" [(ngModel)]="data.row[col.key]" name="{{col.key}}" />
              </mat-form-field>

              <mat-form-field *ngSwitchCase="'select'" appearance="outline" class="w-100">
                <mat-label>{{ col.header }}</mat-label>
                <mat-select [(ngModel)]="data.row[col.key]" name="{{col.key}}">
                  <mat-option *ngFor="let opt of (col.options || [])" [value]="opt.value">
                    {{ opt.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngSwitchCase="'password'" appearance="outline" class="w-100">
                <mat-label>{{ col.header }}</mat-label>
                <input matInput type="password" [(ngModel)]="data.row[col.key]" name="{{col.key}}"
                  #pwd="ngModel" [required]="data?.isNew" [minlength]="data?.isNew ? 8 : null"
                  (ngModelChange)="passwordModel = pwd; checkPasswordMatch(data.row)" />
                <mat-error *ngIf="passwordModel?.errors?.['required']">Password is required</mat-error>
                <mat-error *ngIf="passwordModel?.errors?.['minlength']">Minimum 8 characters required</mat-error>
              </mat-form-field>

              <mat-form-field *ngSwitchCase="'confirmPassword'" appearance="outline" class="w-100">
                <mat-label>{{ col.header }}</mat-label>
                <input matInput type="password" [(ngModel)]="data.row[col.key]" name="{{col.key}}"
                  #cnf="ngModel" [required]="data?.isNew"
                  (ngModelChange)="confirmPasswordModel = cnf; checkPasswordMatch(data.row)" />

                <mat-error *ngIf="confirmPasswordModel?.errors?.['mismatch'] && confirmPasswordModel?.touched">
                  Passwords do not match.
                </mat-error>
                <mat-error *ngIf="confirmPasswordModel?.errors?.['required']">Please confirm your password</mat-error>
              </mat-form-field>

              <mat-form-field *ngSwitchDefault appearance="outline" class="w-100">
                <mat-label>{{ col.header }}</mat-label>
                <input matInput [(ngModel)]="data.row[col.key]" />
              </mat-form-field>

            </ng-container>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="cancelEdit()">Cancel</button>
      <button mat-flat-button color="primary" (click)="saveEdit(data.row, data?.isNew)"
        [disabled]="editForm.invalid || data.row.password !== data.row.confirmPassword">
        Save
      </button>
    </mat-dialog-actions>
  </ng-template>
</div>