<div class="container">
    <h2>Medicine Details</h2>
    <div class="table-wrapper">
        <table class="table  table-striped">
            <thead>
                <tr>
                    <th *ngFor="let header of headers">{{ header }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableData">
                    <td *ngFor="let header of headers">{{ row[header] || 'N/A' }}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noData>
            <p>No data available. Please check the JSON file.</p>
        </ng-template>
    </div>
</div>