:host {
  ::ng-deep {
    .small-select .mat-mdc-form-field-infix {
      min-height: 40px !important;
      padding-top: 8px !important;
      padding-bottom: 0 !important;
    }

    .small-select .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
      height: 100% !important;
    }

    .small-select .mat-mdc-form-field-wrapper {
      height: 40px !important;
    }

    .small-select .mat-mdc-form-field-flex {
      align-items: center;
      /* to center children vertically */
    }

    .small-select .mat-mdc-select-min-line {
      font-size: 14px !important;
    }

    .small-select .mat-mdc-floating-label {
      padding-bottom: 15px;
    }
  }
}

section {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.view {
  gap: 4px;
  align-items: flex-start;
  cursor: pointer;
  mat-icon {
    font-size: 18px;
    margin-right: -5px;
  }
}

select {
  border: none !important;
  box-shadow: none !important;
}

.form-select:focus {
  border: none !important;
  box-shadow: none !important;
}

/* pharmaceuticals.scss */

.status-pending {
  background-color: #fff3cd !important; /* Light yellow for Pending (Bootstrap warning color) */
  border-color: #ffc107;
  color: #383d41;
  border-radius: 20px !important;
}

.status-approved, .status-packed, .status-dispatched, .status-received, .status-verified {
  background-color: #d4edda !important; /* Light green for Approved (Bootstrap success color) */
  border-color: #28a745;
  border-radius: 20px !important;
  color: #155724;
}

.status-rejected, .status-dispute {
  background-color: #f8d7da !important; /* Light red for Rejected (Bootstrap danger color) */
  border-color: #dc3545;
  border-radius: 20px !important;
  color: #721c24;
}