.mat-mdc-tab-group {
  background: white;
  border-radius: 8px;
  padding: 10px;
}

.mat-mdc-table {
  width: 100%;
}

.mat-mdc-header-cell {
  background-color: #fcfcfc;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #555;
}

.mat-mdc-row:hover {
  background-color: #f1f8ff;
  cursor: pointer;
}

.text-success { color: #2e7d32 !important; }
.text-warning { color: #ed6c02 !important; }
.text-danger { color: #d32f2f !important; }