<mat-toolbar>
    <button mat-icon-button [style.margin-left]="sidenav.opened ? '260px' : '0'" (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
    </button>
     
    <div class="logout">
        <button mat-icon-button (click)="logout()" class="logout" matTooltip="Logout" matTooltipPosition="below">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-drawer-container autosize class="main-layout">
    <mat-drawer #sidenav mode="side" opened class="sidebar border-top">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content [style.margin-left]="sidenav.opened ? '275px' : '0'">
        <div class="content p-2">
            <router-outlet />
            <!-- <app-support></app-support> -->
        </div>
    </mat-drawer-content>
</mat-drawer-container>