mat-toolbar {
    border-bottom: 1px solid #C7E9E6;
    position: fixed;
    z-index: 9999;
    top: 0;

    .logout {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}

mat-icon {
    color: #0BBBC1 !important;
}

mat-drawer-container {
    margin-top: 60px;
    z-index: 1
}

.main-layout {
    height: calc(100% - 65px) !important;

    .sidebar {
        background-color: #14bbc1 !important;
        width: auto;
        padding: 5px;
        overflow-y: hidden;
        border-radius: 0 !important;
        z-index: 2;
        position: fixed;
        height: fit-content !important;
    }
}

.content {
    min-height: 90vh;
    // background-color: #ffffff !important;
}

mat-drawer-content {
    z-index: 1;
    position: relative;
    display: block;
}

.mat-drawer-inner-container {
    overflow: hidden !important;
}