.edit-table {
  background: white;

  .mat-mdc-header-cell {
    background-color: #f8f9fa;
    font-weight: 600;
    color: #444;
  }

  .qty-input {
    width: 80px;
    text-align: center;
    
    ::ng-deep .mat-mdc-text-field-wrapper {
      padding: 0;
      background-color: transparent;
    }
    
    ::ng-deep input {
      text-align: center;
      font-weight: bold;
    }
    
    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none; /* Hide hints to keep table compact */
    }
  }
}

.text-danger {
  color: #d32f2f !important;
}

/* Make icons look more like buttons */
button mat-icon {
  font-size: 22px;
}

.status-dropdown-compact {
    width: 160px;
    margin-top: 8px; /* Align with other text in the row */
    
    ::ng-deep .mat-mdc-text-field-wrapper {
        padding: 0 8px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none; /* Removes extra padding at the bottom */
    }
}

.status-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 4px;
}