<div class="sidebar-container">
    <mat-nav-list>
        <div class="pb-1 mb-1 border-bottom">
            <img src="./assets/images/logo-light.png" height="50" alt="Vitoxyz Logo">
        </div>

        <ng-container *ngFor="let item of filteredMenu">

            <a *ngIf="!item.children || item.children.length === 0" mat-list-item [routerLink]="item.route"
                routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon class="material-icons">{{ item.icon }}</mat-icon>
                    <span>{{ item.title }}</span>
                </span>
            </a>

            <mat-expansion-panel *ngIf="item.children && item.children.length > 0" mat-list-item
                class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>{{ item.icon }}</mat-icon>
                        <span>{{ item.title }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list dense>
                    <a *ngFor="let child of item.children" mat-list-item [routerLink]="child.route"
                        routerLinkActive="active-link">
                        <span class="sidebar-item-content">
                            <mat-icon>{{ child.icon }}</mat-icon>
                            <span>{{ child.title }}</span>
                        </span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

        </ng-container>
    </mat-nav-list>
</div>