<mat-nav-list>
    <div class="pb-1 mb-1 border-bottom">
        <img src="./assets/images/logo-light.png" alt="Vitoxyz Logo">
    </div>
    <a mat-list-item routerLink="/app/admin-dashboard" *ngIf="hasPermission('Admin Dashboard')"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>
    <a *ngIf="hasPermission('Doctor dashboard')" mat-list-item routerLink="/app/doctor-dashboard"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>
    <a *ngIf="hasPermission('Pharmacist Dashboard')" mat-list-item routerLink="/app/pharmacist-dashboard"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>
    <a *ngIf="hasPermission('Physiotherapist Dashboard')" mat-list-item routerLink="/app/physiotherapist-dashboard"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>

    <a *ngIf="hasPermission('Psychiatrist Dashboard')" mat-list-item routerLink="/app/psychiatrist-dashboard"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>

    <a *ngIf="hasPermission('Dietician Dashboard')" mat-list-item routerLink="/app/dietician-dashboard"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>


    <mat-expansion-panel mat-list-item class="mat-elevation-z0" *ngIf="hasPermission('Manage')">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>apps</mat-icon><span>Manage</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list dense>
            <a mat-list-item routerLink="/app/client" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>account_circle</mat-icon><span>Client/User</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/staff" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>admin_panel_settings</mat-icon><span>Staff</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/pharmacist" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>local_hospital</mat-icon><span>Pharmacist</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/dietician" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>medical_information</mat-icon><span>Dieticians</span>
                </span>
            </a>

        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel mat-list-item class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>track_changes</mat-icon><span>Bookings & Payments</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list dense>
            <a mat-list-item routerLink="/app/bookings" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>event</mat-icon><span>Staff Bookings</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/bulk-bookings" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>group</mat-icon><span>Bulk Bookings</span>
                </span>
            </a>


            <a mat-list-item routerLink="/app/duty-assigned" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>assignment</mat-icon><span>Duty Assigned</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/booking-payments" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>payment</mat-icon><span>Payments</span>
                </span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>


    <!-- <a mat-list-item *ngIf="hasPermission('Bookings')" routerLink="/app/bookings" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">event</mat-icon><span>Staff Bookings</span>
        </span>
    </a> -->

    <!-- <a *ngIf="hasPermission('Bulk Assignment')" mat-list-item routerLink="/app/bulk-bookings"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">group</mat-icon><span>Bulk Bookings</span>
        </span>
    </a> -->

    <!-- <a mat-list-item *ngIf="hasPermission('Booking Payments')" routerLink="/app/booking-payments"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">payment</mat-icon><span>Bookings Payments</span>
        </span>
    </a> -->

    <!-- <a *ngIf="hasPermission('Duty Assigned')" mat-list-item routerLink="/app/duty-assigned"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">assignment</mat-icon><span>Duty Assigned</span>
        </span>
    </a> -->
    <a *ngIf="hasPermission('Active Staff')" mat-list-item routerLink="/app/active-staff"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">spellcheck</mat-icon><span>Active Staffs</span>
        </span>
    </a>

    <a *ngIf="hasPermission('GPS Monitoring')" mat-list-item routerLink="/app/gps-live-monitoring"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">location_on</mat-icon><span>GPS Live Monitoring</span>
        </span>
    </a>

    <a *ngIf="hasPermission('GPS Deviation')" mat-list-item routerLink="/app/gps-live-deviation"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">sensors</mat-icon><span>GPS Live Deviation</span>
        </span>
    </a>


    <a *ngIf="hasPermission('Override Duties')" mat-list-item routerLink="/app/override-Duties"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">swap_horiz</mat-icon><span>Override Duties</span>
        </span>
    </a>

    <a *ngIf="hasPermission('Overtime Approvals')" mat-list-item routerLink="/app/overtime-approval"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">access_time</mat-icon><span>Overtime Approval</span>
        </span>
    </a>
    <a *ngIf="hasPermission('Staff Wallet')" mat-list-item routerLink="/app/staff-wallet"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">account_balance_wallet</mat-icon><span>Staff Wallet</span>
            </span>
    </a>
    <a *ngIf="hasPermission('Ledgers')" mat-list-item routerLink="/app/ledgers" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">money</mat-icon><span>Ledgers</span>
        </span>
    </a>
    <a *ngIf="hasPermission('Devices & Addresses')" mat-list-item routerLink="/app/devices-and-addresses"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">important_devices</mat-icon><span>Devices & Addresses</span>
        </span>
    </a>

    <mat-expansion-panel mat-list-item class="mat-elevation-z0" *ngIf="hasPermission('Pharma') && role === 'Admin'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>apps</mat-icon><span>Pharma</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list dense>
            <a mat-list-item routerLink="/app/pharmaceutical/bookings" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>account_circle</mat-icon><span>Pharma Bookings</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/pharmaceutical/medicines" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>healing</mat-icon><span>Vitoxyz Medicines</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/pharmaceutical/all-pharmacists-available-products"
                routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>align_vertical_bottom</mat-icon><span>Pharmacists Products</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/pharmaceutical/top-discounts" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>leaderboard</mat-icon><span>Top Discounts</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/pharmaceutical/vitoxyz-available-products" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>addchart</mat-icon><span>Available Products</span>
                </span>
            </a>

        </mat-nav-list>
    </mat-expansion-panel>

    @if(hasPermission('Pharma') && role === 'Pharmacist') {
    <a mat-list-item routerLink="/app/pharmaceutical/bookings" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">receipt_long</mat-icon><span>Pharma Bookings</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/pharmaceutical/medicines" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">medications</mat-icon><span>Vitoxyz Medicine Data</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/pharmaceutical/my-available-medicine" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">health_and_safety</mat-icon><span>My Available Products</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/pharmaceutical/other-pharmacists-available-products"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">safety_divider</mat-icon><span>Other Pharmacist Products</span>
        </span>
    </a>
    }

    <a *ngIf="hasPermission('Diet Users')" mat-list-item routerLink="/app/diet-users" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">people</mat-icon><span>Diet Users</span>
        </span>
    </a>

    <a *ngIf="hasPermission('Diet Subscription')" mat-list-item routerLink="/app/diet-subscription"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">egg_alt</mat-icon><span>Diet Subscription</span>
        </span>
    </a>

    <a *ngIf="hasPermission('Diet Plans')" mat-list-item routerLink="/app/diet-plans" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">donut_large</mat-icon><span>Diet Plans</span>
        </span>
    </a>
    <a *ngIf="hasPermission('Dietician Reports')" mat-list-item routerLink="/app/dietician-reports"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">analytics</mat-icon><span>Dietician Reports</span>
        </span>
    </a>

    <a *ngIf="hasPermission('Diet Subscription Plans')" mat-list-item routerLink="/app/subscription-plans"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">poll</mat-icon><span>Subscription Plans</span>
        </span>
    </a>
    <a *ngIf="hasPermission('Appointments')" mat-list-item routerLink="/app/appointments"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">date_range</mat-icon><span>Appointments</span>
        </span>
    </a>

    <a *ngIf="hasPermission('Order Status')" mat-list-item routerLink="/app/pharmaceuticals"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon>pin_drop</mat-icon><span>Orders Locate</span>
        </span>
    </a>

    <a *ngIf="hasPermission('Prescriptions')" mat-list-item routerLink="/app/prescription"
        routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">local_pharmacy</mat-icon><span>Prescriptions</span>
        </span>
    </a>
    <a *ngIf="hasPermission('Account')" mat-list-item routerLink="/app/account" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">group</mat-icon><span>Account</span>
        </span>
    </a>

    <a *ngIf="hasPermission('Roles')" mat-list-item routerLink="/app/roles" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">group</mat-icon><span>Roles</span>
        </span>
    </a>
    <a *ngIf="hasPermission('Permissions')" mat-list-item routerLink="/app/permissions" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon>library_books</mat-icon><span>Permissions</span>
        </span>
    </a>
    <mat-expansion-panel mat-list-item class="mat-elevation-z0" *ngIf="hasPermission('Settings')">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>settings</mat-icon><span>Settings</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list dense>
            <a mat-list-item routerLink="/app/complaint" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>report_problem</mat-icon><span>Complaints</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/overtime-approval" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>access_time</mat-icon><span>Overtime Handling</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/AI-logs" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>auto_fix_normal</mat-icon><span>AI Logs</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/payout" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>monetization_on</mat-icon><span>Payout</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/refund-handling" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>wallet</mat-icon><span>Refund Handling</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/marketing" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>campaign</mat-icon><span>Marketing</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/tools" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>construction</mat-icon><span>Tools</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/documents" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>library_books</mat-icon><span>Documents</span>
                </span>
            </a>
        </mat-nav-list>

    </mat-expansion-panel>
</mat-nav-list>