.sidebar-item-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.material-icons {
  margin-right: 8px;
  color: #6b6d6d;
}

a span{
  color: #6b6d6d !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.active-link,
.active-link .material-icons , a:hover .material-icons {
  background: #edf8f7 !important;
  border-radius: 50px !important;
  color: #0BBBC1 !important;
}

.active-link span, a:hover span{
  color: #0BBBC1 !important;
  font-weight: 500 !important;
}




