.sidebar-item-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.material-icons {
  margin-right: 8px;
  color: #fff;
}

a span {
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}



.active-link,
.active-link .material-icons,
a:hover .material-icons {
  background: #67d3d7 !important;
  border-radius: 50px !important;
  color: #fff !important;
}

@media (hover: none) {
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover
    {
      background-color: #67d3d7;
    }
}
.active-link span,
a:hover span {
  color: #fff !important;
  font-weight: 500 !important;
}

mat-expansion-panel {
  background: none !important;
}

mat-expansion-panel-header {
  padding: 0 15px;

  span {
    font-weight: 400;
    color: #fff;
  }
}