<mat-nav-list>
    @if(userProfile?.role?.roleType === 'Admin'){
    <a mat-list-item routerLink="/app/admin-dashboard" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>
    <mat-expansion-panel mat-list-item class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>apps</mat-icon><span>Manage</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list dense>
            <a mat-list-item routerLink="/app/client" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>account_circle</mat-icon><span>Client/User</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/doctor" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>local_hospital</mat-icon><span>Doctors</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/pharmacist" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>local_hospital</mat-icon><span>Pharmacist</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/dietician" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>medical_information</mat-icon><span>Dieticians</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/pharmaceuticals" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>healing</mat-icon><span>Pharmaceuticals</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/staff" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>admin_panel_settings</mat-icon><span>Staff</span>
                </span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    }

    @if(userProfile?.role?.roleType === 'Admin'){
    <a mat-list-item routerLink="/app/bookings" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">event</mat-icon><span>Bookings</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/duty-logs" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">assignment</mat-icon><span>Duty Logs</span>
        </span>
    </a>
    <a mat-list-item routerLink="/app/gps-live-monitoring" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">location_on</mat-icon><span>GPS Live Monitoring</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/gps-live-deviation" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">sensors</mat-icon><span>GPS Live Deviation</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/bulk-assignments" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">group</mat-icon><span>Bulk Assignments</span>
        </span>
    </a>
    <a mat-list-item routerLink="/app/override-Duties" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">swap_horiz</mat-icon><span>Override Duties</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/overtime-approval" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">access_time</mat-icon><span>Overtime Approval</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/devices-and-addresses" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">important_devices</mat-icon><span>Devices & Addresses</span>
        </span>
    </a>
    <a mat-list-item routerLink="/app/roles" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">group</mat-icon><span>Roles</span>
        </span>
    </a>
    }

    @if(userProfile?.role?.roleType === 'Dietician') {
    <a mat-list-item routerLink="/app/dietician-dashboard" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>
    <a mat-list-item routerLink="/app/diet-users" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">people</mat-icon><span>Users</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/diet-plans" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">people</mat-icon><span>Diet Plans</span>
        </span>
    </a>

    <a mat-list-item routerLink="/app/subscription-plans" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">people</mat-icon><span>Subscription Plans</span>
        </span>
    </a>
    }

    @if(userProfile?.role?.roleType === 'Pharmacist') {
    <a mat-list-item routerLink="/app/pharmacist-dashboard" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>
    }

    @if(userProfile?.role?.roleType === 'Doctor') {
    <a mat-list-item routerLink="/app/doctor-dashboard" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>
    }

    @if(userProfile?.role?.roleType === 'Physiotherapist') {
    <a mat-list-item routerLink="/app/physiotherapist-dashboard" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>
    }

    @if(userProfile?.role?.roleType === 'Psychiatrist') {
    <a mat-list-item routerLink="/app/psychiatrist-dashboard" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">widgets</mat-icon><span>Dashboard</span>
        </span>
    </a>
    }
    @if(userProfile?.role?.roleType === 'Admin' || userProfile?.role?.roleType === 'Dietician'){
    <a mat-list-item routerLink="/app/dietician-reports" routerLinkActive="active-link">
        <span class="sidebar-item-content">
            <mat-icon class="material-icons">analytics</mat-icon><span>Dietician Reports</span>
        </span>
    </a>
    }
    @if(userProfile?.role?.roleType === 'Admin'
    || userProfile?.role?.roleType === 'Dietician'
    || userProfile?.role?.roleType === 'Pharmacist'
    || userProfile?.role?.roleType === 'Doctor'
    || userProfile?.role?.roleType === 'Physiotherapist'
    || userProfile?.role?.roleType === 'Psychiatrist'){

    <mat-expansion-panel mat-list-item class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>settings</mat-icon><span>Settings</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list dense>
            <a mat-list-item routerLink="/app/complaint" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>report_problem</mat-icon><span>Complaints</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/overtime-approval" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>access_time</mat-icon><span>Overtime Handling</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/AI-logs" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>auto_fix_normal</mat-icon><span>AI Logs</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/payout" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>monetization_on</mat-icon><span>Payout</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/refund-handling" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>wallet</mat-icon><span>Refund Handling</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/marketing" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>campaign</mat-icon><span>Marketing</span>
                </span>
            </a>

            <a mat-list-item routerLink="/app/tools" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>construction</mat-icon><span>Tools</span>
                </span>
            </a>
            <a mat-list-item routerLink="/app/documents" routerLinkActive="active-link">
                <span class="sidebar-item-content">
                    <mat-icon>library_books</mat-icon><span>Documents</span>
                </span>
            </a>
        </mat-nav-list>

    </mat-expansion-panel>
    }
</mat-nav-list>