.sidebar-container {
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari, Edge */
.sidebar-container::-webkit-scrollbar {
  display: none;
}

/* Show scrollbar on hover */
.sidebar-container:hover {
  scrollbar-width: auto;
}

.sidebar-container:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.sidebar-container:hover::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-container:hover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.sidebar-container:hover::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar-item-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.material-icons {
  margin-right: 8px;
  // color: #fff;
}

a span {
  // color: #fff !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

@media (hover: none) {
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover
    {
      background-color: #3b8f93 !important;
    }
}
.active-link span,
a:hover span {
  color: #3b8f93 !important;
  font-weight: 500 !important;
}

mat-expansion-panel {
  background: none !important;
}

mat-expansion-panel-header {
  padding: 0 15px;

  span {
    font-weight: 400;
    // color: #fff;
  }
}