@use '@angular/material' as mat;

html {
  @include mat.theme((color: mat.$cyan-palette,
      typography: (
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    ));
}

html, body {
  font-family: sans-serif !important
}
.drawer-bottom {
  position: sticky;
  bottom: 0;
}

mat-drawer-container {
  overflow-x: hidden !important;
}

mat-drawer-content {
  overflow: hidden !important;
}

.btn-primary {
  background: #14bbc1 !important;
  border: none !important
}
.highlight {
  color: #14bbc1 !important;
}

.table-container {
  height: 400px;
  overflow-y: auto;
}

.mat-mdc-card-content:last-child,
.mat-mdc-card-content:first-child {
  padding: 0 !important;
}