:host {
    ::ng-deep {
        .small-select .mat-mdc-form-field-infix {
            min-height: 40px !important;
            padding-top: 8px !important;
            padding-bottom: 0 !important;
        }

        .small-select .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
            height: 100% !important;
        }

        .small-select .mat-mdc-form-field-wrapper {
            height: 40px !important;
        }

        .small-select .mat-mdc-form-field-flex {
            align-items: center;
            /* to center children vertically */
        }

        .small-select .mat-mdc-select-min-line {
            font-size: 14px !important;
        }

        .small-select .mat-mdc-floating-label {
            padding-bottom: 15px;
        }
    }
}

.form-select {
    border-radius: 20px;
}

.form-select-sm {
    padding-left: .25rem !important;
    font-size: 0.75rem !important;
}


/************************/




