<mat-drawer-container class="drawer-container bg-white">
  <mat-drawer class="w-75 p-2 pt-0" #staffDrawer mode="over" [(opened)]="isDrawerOpen" position="end">
    <h2>Staff Details</h2>
    <div *ngIf="selectedStaff">
      <p>Name: {{ selectedStaff.name }}</p>
      <p>Category: {{ selectedStaff.category }}</p>

      <p><u>Education Certificate Attachment: </u></p>
      @if(selectedStaff?.originalStaff?.degreeUrl){
      <div class="w-100 mb-3"><img class="attachments" [src]="selectedStaff?.originalStaff?.degreeUrl"
          alt="{{ selectedStaff.degree }}'s photo"></div>
      }
      @else{Attachment Not Available}
      <hr>
      <p><u>Aadhar Card Attachment: </u></p>
      @if(selectedStaff?.originalStaff?.adharUrl){
      <div class="w-100 mb-3"><img class="attachments" [src]="selectedStaff?.originalStaff?.adharUrl"
          alt="{{ selectedStaff.aadhaar }}'s photo">
      </div>
      }
      @else{Attachment Not Available}
      <hr>
      <p><u>Pan Card Attachment: </u></p>
      @if(selectedStaff?.originalStaff?.panUrl){
      <div class="w-100"><img class="attachments" [src]="selectedStaff?.originalStaff?.panUrl"
          alt="{{ selectedStaff.pan }}'s photo"></div>
      }
      @else{Attachment Not Available}
    </div>
    <button mat-button (click)="closeStaffDrawer()">Close</button>
  </mat-drawer>
  <div>
    <div class="row m-2">
      <mat-form-field appearance="outline" class="col-md-2 small-select">
        <mat-label>Select City</mat-label>
        <mat-select (selectionChange)="getStaffByFilter()" [(ngModel)]="selectedCity">
          <mat-option selected="" [disabled]>Select City/State</mat-option>
          @for (city of states; track city) {
          <mat-option [value]="city">{{city | titlecase}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-3 small-select">
        <mat-label>Sub Category</mat-label>
        <mat-select (selectionChange)="getStaffByFilter()" [(ngModel)]="selectedSubcategory">
          <mat-option [disabled]>Select Sub Category</mat-option>
          @for (subcat of subcategories; track subcat) {
          <mat-option [value]="subcat">{{subcat | titlecase}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-2 small-select">
        <mat-label>Experience</mat-label>
        <mat-select (selectionChange)="getStaffByFilter()" [(ngModel)]="selectedExperience">
          @for (exp of experiences; track exp) {
          <mat-option [value]="exp.value">{{exp.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- according to babita mam we are not using it for now, it can be used in future -->
      <!-- <mat-form-field appearance="outline" class="col-md-2 small-select">
        <mat-label>Shift Type</mat-label>
        <mat-select (selectionChange)="getStaffByFilter()" [(ngModel)]="selectedShiftType">
          <mat-option value="" [disabled]>Select Shift Type</mat-option>
          <mat-option value="08:00">8 hours</mat-option>
          <mat-option value="12:00">12 hours</mat-option>
          <mat-option value="24:00">24 hours</mat-option>
          <mat-option value="1month8hours">Monthly (8 Hours, 4 Holidays)</mat-option>
          <mat-option value="1month12hours">Monthly (12 Hours, 4 Holidays)</mat-option>
          <mat-option value="1month24hours">Monthly (24 Hours, 4 Holidays)</mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field appearance="outline" class="col-md-3 small-select">
        <mat-label>Pick a Duty Time</mat-label>
        <input matInput [matTimepicker]="picker" [(ngModel)]="selectedDutyTime" (ngModelChange)="getStaffByFilter()">
        <mat-timepicker-toggle matIconSuffix [for]="picker" />
        <mat-timepicker #picker />
      </mat-form-field>

      <button class="col-md-2" matButton="filled" type="button" (click)="resetFilters()">Reset&nbsp;Filters</button>

      <div class="col-md-12 ms-auto d-flex justify-content-between my-2">
        <mat-form-field appearance="outline" class="small-select">
          <mat-label>Search All Staff</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #inputAllStaffs>
        </mat-form-field>

        <mat-paginator class="small-select" [pageSizeOptions]="[10, 20, 100]" aria-label="Select page of staff">
        </mat-paginator>
      </div>
    </div>

    <section class="tableScroll-container" tabindex="0">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="s_no" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ (paginator.pageIndex * paginator.pageSize + i) + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="staffId" sticky="staffId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff&nbsp;ID </th>
          <td mat-cell *matCellDef="let element"> {{element.staffId}} </td>
        </ng-container>

        <ng-container matColumnDef="name" sticky="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff&nbsp;Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.fullAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
          <td mat-cell *matCellDef="let element"> {{element.state | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="experience">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
          <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
        </ng-container>


        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="subcategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub&nbsp;Category </th>
          <td mat-cell *matCellDef="let element"> {{element.subCategory | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="dutyTimeStart">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Duty&nbsp;Preferred&nbsp;Time&nbsp;Start </th>
          <td mat-cell *matCellDef="let element">
            @if(element.startTimeHour && element.startTimeMinute && element.startTimeAmPm)
            { {{`${element?.startTimeHour}:${element?.startTimeMinute}
            ${element?.startTimeAmPm}`}}}
            @else {
            <i>not-specified</i>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="dutyTimeEnd">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Duty&nbsp;Preferred&nbsp;Time&nbsp;End </th>
          <td mat-cell *matCellDef="let element">
            @if(element.endTimeHour && element.endTimeMinute && element.endTimeAmPm)
            {
            {{`${element.endTimeHour}:${element.endTimeMinute}
            ${element.endTimeAmPm}`}} }
            @else {
            <i>not-specified</i>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="shiftType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;Shift&nbsp;Type&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <select class="form-select form-select-sm" style="width:120px" [(ngModel)]="element.selectedShift"
              (ngModelChange)="updatePrice(element)">
              @if(element?.category && element?.category.trim().toLowerCase() === 'nurse') {
                <option value="08:00">8 Hours</option>
                <option value="12:00">12 Hours</option>
                <option value="24:00">24 Hours</option> }
              <option value="1month8hours">Monthly (8 Hours, 4 Holidays)</option>
              <option value="1month12hours">Monthly (12 Hours, 4 Holidays)</option>
              <option value="1month24hours">Monthly (24 Hours, 4 Holidays)</option>
            </select>
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.calculatedPrice; else noPrice">{{element.calculatedPrice}}</span>
            <ng-template #noPrice><i>not-added</i></ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.rating; else noRating">{{element.rating}} / 5</span>
            <ng-template #noRating>N/A</ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="verified">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Verified </th>
          <td mat-cell *matCellDef="let element">
            <div class="text-light rounded-pill text-center px-2"
              [ngClass]="{'verified': element.verified, 'not-verified': !element.verified}"
              (click)="selectedStaff = element; openVerificationDialog(element)">{{element.verified ? 'Verified' :
              'Not&nbsp;Verified'}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.active ? 'Active' : 'In-Active'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="actionMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionMenu="matMenu">
              <button mat-menu-item (click)="selectedStaff = element ; openStaffDisableDialog(element)">
                <mat-icon>edit</mat-icon>
                <span>Change Status</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter
            "{{inputAllStaffs.value}}"</td>
        </tr>
      </table>
    </section>
  </div>

  <ng-template #staffStatus>
    <h2 mat-dialog-title>Staff Status Change</h2>
    <mat-dialog-content>
      Do You Want to Make Staff ({{selectedStaff?.name}}) with Id {{selectedStaff?.staffId}} Account as Disabled?
      <br><br>
      <div class="d-flex justify-content-between">
        <button matButton type="submit" (click)="isActive= false; disableStaff(); dialog.closeAll()">Yes</button>
        <button matButton type="submit" (click)="isActive= true; disableStaff(); dialog.closeAll()">No</button>
      </div>
    </mat-dialog-content>
  </ng-template>

  <ng-template #verificationDialog>
    <h2 mat-dialog-title>Verify Documents</h2>
    <mat-dialog-content>
      <div>
        <label>Do you want to verify this Staff's Aadhaar?</label>
        <div class="text-center">
          <img class="w-75" [src]="selectedStaff?.adharUrl" alt="Aadhaar Card">
        </div>
        <!-- <label>Do you want to verify this Document?</label>
        <mat-radio-group aria-label="Select an option" name="verification">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group> -->

      </div>
      <hr>

      <div>
        <label>Do you want to verify this Staff's PAN?</label>
        <div class="text-center">
          <img class="w-75" [src]="selectedStaff?.panUrl" alt="PAN Card">
        </div>
        <!-- <label>Do you want to verify this Document?</label>
        <mat-radio-group aria-label="Select an option" name="verification">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group> -->
      </div>
      <hr>

      <div>
        <label>Do you want to verify this Staff's Degree?</label>
        <div class="text-center">
          <img class="w-75" [src]="selectedStaff?.degreeUrl" alt="Degree Certificate">
        </div>
        <!-- <label>Do you want to verify this Document?</label>
        <mat-radio-group aria-label="Select an option" name="verification">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group> -->
      </div>
      <hr>

      <div>
        <label>Do you want to verify this Staff's Medical License?</label>
        <div class="text-center">
          <img class="w-75" [src]="selectedStaff?.medicalLicenseUrl" alt="Medical License">
        </div>
        <!-- <label>Do you want to verify this Document?</label>
        <mat-radio-group aria-label="Select an option" name="verification">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group> -->
      </div>
      <hr>

      <div>
        <label>Do you want to verify this Staff's Police Verification?</label>
        <div class="text-center">
          <img class="w-75" [src]="selectedStaff?.policeVerificationUrl" alt="Police Verification">
        </div>
        <label>Do you want to verify this Document?</label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="isVerified">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="outline" class="w-100 mt-3">
        <mat-label>Comment</mat-label>
        <textarea matInput [(ngModel)]="reason" placeholder="Add comment..."></textarea>
      </mat-form-field>

      <hr>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-flat-button color="primary" (click)="verifyStaffDocuments(); dialog.closeAll()">Save</button>
    </mat-dialog-actions>
  </ng-template>
</mat-drawer-container>